* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* Revierto estilo de Boostrap que genera padding-left indeseado */
ol,
ul {
	padding-left: 0;
}

.logo {
	width: 2rem;
	height: 2rem;
	min-width: 1.5rem;
}

/* ################# Pagina de Ingreso ##################### */
.logoPrincipal {
	display: none;
	width: clamp(2.5rem, 10vw, 6.5rem);
	height: clamp(2.5rem, 10vw, 6.5rem);
}

.ojos {
	display: none;
}

.logoTexto {
	display: none;
	font-size: clamp(2.5rem, 10vw, 5.5rem);
}

.ingresoInput {
	background-color: #9CA3AF;
}

.credenciales {
	display: none;
	width: clamp(15.5rem, 25vw, 20.5rem);
}

.seccionLogo {
	background-color: #111827; /* bg-gray-900 */
	color: #9CA3AF; /* text-gray-400  */
}

.botonInicio {
	display: none;
	background-color: #0a58ca;
	border-color: #0a58ca;
}

.accesoPrueba {
	display: none;
}

/* ################ Fin pagina de ingreso ################ */

.iconosMenu {
	width: 1.9rem;
	height: 3rem;
	padding: 0.3rem;
	min-width: 1.5rem;
	min-height: 1.5rem;
}

.menuItems {
	height: 3rem;
	width: 100%;
	margin-top: 0.85rem;
}

.menuItemsText {
	font-size: .95rem;
	line-height: 1.25rem;
}

.menuItems:hover {
	background-color: #374151; /* background-color: $bg-gray-700; */
	color: #D1D5DB; /* $text-gray-300 */
}

.accesoCuenta {
	height: 4rem;
	width: 100%;
	background-color: #1F2937; /* bg-gray-800  */
}

.accesoCuenta:hover {
	background-color: #374151; /* bg-gray-700  */
	color: #D1D5DB; /* text-gray-300 */
}

.nuevoMensaje {
	height: 0.5rem;
	width: 0.5rem;
	background-color: #6366F1; /* .bg-indigo-500 */
	top: 480px;
	left: 10px;
}

a {
	color: inherit;
	text-decoration: none;
}

.ml-2 {
	margin-left: 0.5rem;
}

.navBar {
	background-color: #111827; /* bg-gray-900 */
	color: #9CA3AF;	/* text-gray-400  */
	min-width: max-content;
}
.navBarSecondary {
	background-color: #111827; /* bg-gray-900 */
	color: #9CA3AF; /* text-gray-400  */
	min-width: max-content;
}

nav {
	background-color: #111827; /* bg-gray-900 */
	color: #9CA3AF; /* text-gray-400  */
	min-width: max-content;
}
.secondaryMenu {
	display: none;
}
@media only screen and (max-width: 960px) {
	.navBar {
		display: none !important;
	}
	.mainSection {
		flex-wrap: wrap;
	}
	.secondaryMenu {
		display: block;
	}
}
.bordeMenu {
	border-top-width: 0.5px;
	border-top-style: solid;
	border-color: #374151; /* .border-gray-700 */
	margin-top: 0.85rem;
}
.tradingViewGrafico {
	height: 500px;
}
.seccionFormulario {
	flex: 25%;
	min-width: 300px;
}
.seccionGrafico {
	flex: 65%; 
}

/* Pagina de Estadisticas */
h4 {
	font-size: clamp(1rem, 2vw, 1.5rem);
}

@media only screen and (max-width: 960px) {
	.graficos {
		flex-wrap: wrap;
	}
	
}
@media only screen and (max-width: 430px) {
	.graficos {
		flex-wrap: wrap;
	}
	.graficoIndividual {
		width: 20.5rem
	}
}